<%= form_for(@capstone) do |f| %>
  <% if @capstone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capstone.errors.count, "error") %> prohibited this capstone from being saved:</h2>

      <ul>
      <% @capstone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
